@(loginForm: Form[_], label: Boolean = false)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@if(label) {
    @inputPassword(
        loginForm("repeatPassword"),
        '_label -> Messages("kanjam.login.password.repeat.label"),
        '_showConstraints -> false,
        '_error -> loginForm.error("password")
    )
} else {
    @inputPassword(
        loginForm("repeatPassword"),
        '_label -> Messages("kanjam.login.password.repeat.label"),
        '_showConstraints -> false,
        '_label -> null
    )
}
