@(emailForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@content(Messages("kanjam.password_forgot.title"), "passwordForgot") {
    <div class="card card-signup card-container">
    @form(routes.Signup.doForgotPassword, 'class -> "form-group", 'role -> "form") {

        <h3>Forgot Your Password?</h3>
        <p>Enter your e-mail to receive instructions on how to reset it.</p>
        @if(emailForm.hasGlobalErrors) {
            <p class="alert alert-danger">
            @emailForm.globalError.message
            </p>
        }

        @_email_generator(emailForm, false)

        <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">@Messages("kanjam.passwordforgot.submit.label")</button>
    }

    </div>
}



