@(signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@content(Messages("kanjam.signup.title"),"signup") {

        <div class="card-signup card card-container">
            <h3 class="dark-grey">Registration</h3>
            @helper.form(routes.Application.doSignup, 'class -> "form-group", 'role -> "form") {

                @if(signupForm.hasGlobalErrors) {
                    <p class="alert alert-danger">
                    @signupForm.globalError.message
                    </p>
                }

                @_name_generator(signupForm, true)

                @_email_generator(signupForm,false,true)

                @_password_generator(signupForm, true)

                @_repeat_password_generator(signupForm, true)

                @inputText(
                    signupForm("ticketId"),
                    '_label -> Messages("kanjam.login.ticketId.label")
                )
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">@Messages("kanjam.signup.label")</button><br>
                <a href="@routes.Application.login()" class="already-exists">@Messages("kanjam.signup.alreadyexists.label")</a>

            }
        </div>

}
